<%- include('../includes/header.ejs')%>
<%- include('../includes/search.ejs')%>
    <h1><%= pageHeader %></h1>
<main class="container">
        <% if(products.length > 0){%>
            <%for(let product of products){%>
            <article class="product-single">
                <h3><%= product.title %></h3>
                <br>
                <img src="<%= product.imageUrl%>" alt="product.title"/><br><br>
                <h2>$ <%= product.price %></h2>
                <h4><%= product.description %></h4><br>
                <div class="form-centered">
                    <form action="/edit-product/<%=product._id%>" method="get">
                        <input type="submit" class="product-single-edit" value="Edit"/>
                        <input type="hidden" name='productId' value="<%=product._id%>"/>
                   </form>
                   <form action="/delete-product" method="post">
                    <input type="submit" class="product-single-delete" value="Delete"/>
                    <input type="hidden" name='productId' value="<%=product._id%>"/>
                 </form>
                </div>
               

            </article>
            <%}%>
        <%} else {%>
            <h1>No products in the shop</h1>
          <%}%>  
</main>

<%- include('../includes/footer.ejs')%>
    