<%-include('../includes/header.ejs')%>
<h1>Details page</h1>
<section class="container">
<article class="product-details">
    <h3><%= product.title %></h3>
    <hr><br>
    <img src="<%= product.imageUrl%>" alt="product.title"/><br><br>
    <h2>$ <%= product.price %></h2>
    <h4><%= product.description %></h4>
   
    <form action="/delete-product" method="post">
        <a class="product-single-cart" href="/edit-product/<%=product._id%>">Add To Cart</a>
   </form>
</article>

</section>
<%-include('../includes/footer.ejs')%>