<%- include('../includes/header.ejs')%>
<%- include('../includes/search.ejs')%>
    <h1><%= pageHeader %></h1>
<main class="container">
        <% if(products.length > 0){%>
            <%for(let product of products){%>
            <article class="product-single">
                <h3><%= product.title %></h3>
                <hr><br>
                <img src="<%= product.imageUrl%>" alt="product.title"/><br><br>
                <h2>$ <%= product.price %></h2>
                <h4><%= product.description %></h4>
                <button class="product-single-details">Details</button>
                <button class="product-single-cart">Add to Cart</button>
            </article>
            <%}%>
        <%} else {%>
            <h1>No products in the shop</h1>
          <%}%>  
</main>

<%- include('../includes/footer.ejs')%>
    